.carSelectButtons {
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 1vw;
}

.carSelectButtons p {
    font-size: 1vw;
    font-weight: 600;
}

.carActionsButton {
    display: flex;
    gap: 1vw;
    padding: 1vw;
}

.track {
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: 5px grey solid;
}

.car {
    position: absolute;
    top: 3vh;
    left: 10%;
}

.drive {
    animation: drive;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes drive {
    0% {left: 10%}
    100% {left: 90%}
}