.button {
    border: none;
    background-color:rgb(4, 219, 147);
    padding: 0.5vw 1.5vw;
    border-radius: 5px;
    font-size: 0.7vw;
    color: white;
    transition: .2s;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(4, 219, 147);
    outline: 1px rgb(4, 219, 147) solid;
}